.flex-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  font-size: 14px;
  line-height: 1.5;
}

.card-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.card-content button:hover {
  background-color: #0062cc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
