.content11 {
    overflow: hidden;

    .subtitle {
        max-width: 450px;
        margin: auto;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include mq(950px) {
            padding-block: 3rem;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}