.content3 {
    .readmore-btn {
        padding-block: 1rem;
        padding: inline 1.5rem;
        background-color: blue;
        border-radius: 10px;
        max-width: 100px;
        color: white;
    }
}