@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

.circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-inline: auto;
}

.bg-white {
  background-color: white;
}

.bg-dark {
  background-color: black;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.text-dark-light {
  color: rgba(0, 0, 0, 0.736);
}

.m-auto {
  margin-inline: auto;
}

.mx-1 {
  margin-inline: 0.7rem;
}

.mx-2 {
  margin-inline: 1rem;
}

.mx-3 {
  margin-inline: 1.2rem;
}

.mx-4 {
  margin-inline: 1.4rem;
}

.mx-5 {
  margin-inline: 1.6rem;
}

.mx-6 {
  margin-inline: 1.8rem;
}

/* --------- */
.my-1 {
  margin-block: 0.7rem;
}

.my-2 {
  margin-block: 1rem;
}

.my-3 {
  margin-block: 1.2rem;
}

.my-4 {
  margin-block: 1.4rem;
}

.my-5 {
  margin-block: 1.6rem;
}

.my-6 {
  margin-block: 1.8rem;
}

.my-7 {
  margin-block: 2rem;
}

.my-8 {
  margin-block: 3rem;
}

.my-9 {
  margin-block: 4rem;
}

.my-10 {
  margin-block: 5rem;
}

/* -- */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.2rem;
}

.p-3 {
  padding: 1.4rem;
}

.p-4 {
  padding: 1.6rem;
}

.p-5 {
  padding: 1.8rem;
}

.p-6 {
  padding: 2rem;
}

/* -- */
.py-1 {
  padding-block: 1rem;
}

.py-2 {
  padding-block: 1.2rem;
}

.py-3 {
  padding-block: 1.4rem;
}

.py-4 {
  padding-block: 1.6rem;
}

.py-5 {
  padding-block: 1.8rem;
}

.py-6 {
  padding-block: 2rem;
}

/* -- */
.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 1.2rem;
}

.px-3 {
  padding-inline: 1.4rem;
}

.px-4 {
  padding-inline: 1.6rem;
}

.px-5 {
  padding-inline: 1.8rem;
}

.px-6 {
  padding-inline: 2rem;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f1 {
  font-size: 1rem;
}

.f2 {
  font-size: 1.2rem;
}

.f3 {
  font-size: 1.4rem;
}

.f4 {
  font-size: 1.6rem;
}

.f5 {
  font-size: 1.8rem;
}

.f6 {
  font-size: 2rem;
}

.f7 {
  font-size: 2.5rem;
}

.f8 {
  font-size: 3rem;
}

.f9 {
  font-size: 4rem;
}

.f10 {
  font-size: 5rem;
}

.f11 {
  font-size: 6rem;
}

.f12 {
  font-size: 8rem;
}

.f13 {
  font-size: 10rem;
}

.gap-1 {
  gap: 3rem;
}

.gap-2 {
  gap: 4rem;
}

.gap-3 {
  gap: 5rem;
}

.gap-4 {
  gap: 6rem;
}

.gap-5 {
  gap: 7rem;
}

.gap-6 {
  gap: 8rem;
}

.gap-7 {
  gap: 9rem;
}

.gap-8 {
  gap: 10rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-65 {
  width: 65%;
}

.w-75 {
  width: 75%;
}

nav {
  position: fixed;
  align-items: center;
  height: 80px;
  width: 100%;
}
nav .navbar {
  color: white;
}
@media (max-width: 1000px) {
  nav .navbar .route {
    display: none;
  }
}
nav .download-btn {
  height: 3rem;
  width: 8rem;
  border: 1px solid white;
  border-radius: 1rem;
}
@media (max-width: 1000px) {
  nav .download-btn {
    display: none;
  }
}
nav #menu {
  display: none;
}
@media (max-width: 1000px) {
  nav #menu {
    display: block;
  }
}

.cover-image {
  overflow: hidden;
  padding-top: 10rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/hero-area.jpg.webp");
  color: white;
}
.cover-image .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 800px) {
  .cover-image .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
.cover-image article {
  -webkit-margin-after: 6rem;
          margin-block-end: 6rem;
  max-width: 48rem;
}
.cover-image img {
  width: 100%;
  max-width: 37rem;
}
@media (max-width: 800px) {
  .cover-image img {
    justify-self: end;
  }
}
.cover-image .btn {
  padding-inline: 2rem;
  padding-block: 0.7rem;
  border-radius: 1rem;
  margin-block: 1rem;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.562);
}

.content1 {
  overflow: hidden;
}
.content1 .card-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}
.content1 .card-wrapper .card {
  min-height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.182);
  flex: 1;
  flex-basis: 270px;
}

.content2 {
  overflow: hidden;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, rgba(0, 94, 181, 0.5215686275) 67%, rgba(0, 116, 217, 0.8705882353) 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/feature-bg.jpg.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.content2 .grid-wrapper {
  display: grid;
  padding-block: 4rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 850px) {
  .content2 .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
.content2 .grid-wrapper > div {
  align-self: center;
}
@media (max-width: 850px) {
  .content2 .grid-wrapper > div {
    margin: auto;
  }
}
.content2 .grid-wrapper img {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.content3 {
  overflow: hidden;
}
.content3 .container:nth-of-type(1) {
  flex: 1;
}
@media (max-width: 800px) {
  .content3 .container:nth-of-type(1) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
.content3 .container:nth-of-type(2) {
  flex: 1;
}
@media (max-width: 800px) {
  .content3 .container:nth-of-type(2) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.content3 .container img {
  max-width: 400px;
}
.content3 .readmore-btn {
  padding-block: 1rem;
  padding: inline 1.5rem;
  background-color: blue;
  border-radius: 10px;
  max-width: 100px;
  color: white;
}

.content4 {
  overflow: hidden;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, rgba(0, 94, 181, 0.5137254902) 67%, rgba(0, 116, 217, 0.7529411765) 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/video-overview.jpg.webp");
  background-size: cover;
  background-position: 0px;
  background-attachment: fixed;
  color: white;
  min-height: 30rem;
}

.content5 {
  overflow: hidden;
}
.content5 .flex-wrapper {
  max-width: 800px;
  width: 100%;
  overflow-x: scroll;
}
.content5 .flex-wrapper img {
  width: 30%;
}

.content6 {
  overflow: hidden;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, rgba(0, 94, 181, 0.5137254902) 67%, rgba(0, 116, 217, 0.7529411765) 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/price-bg.jpg.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.content6 .subtitle {
  max-width: 40rem;
}
.content6 .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
@media (max-width: 800px) {
  .content6 .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.content6 .card-wrapper .card {
  border: 1px solid rgba(0, 0, 0, 0.182);
}
.content6 .details > :not(p:nth-last-of-type(1)) {
  margin-block: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(17, 17, 17);
}
.content6 .ordernow-btn {
  padding-block: 1rem;
  padding-inline: 3rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  max-width: 180px;
  color: black;
}

.content8 {
  overflow: hidden;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, rgba(0, 94, 181, 0.5137254902) 67%, rgba(0, 116, 217, 0.7529411765) 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/video-overview.jpg.webp");
  background-size: cover;
  background-position: 0px;
  background-attachment: fixed;
  color: white;
  min-height: 30rem;
}
.content8 .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 950px) {
  .content8 .grid-wrapper {
    padding-block: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .content8 .grid-wrapper {
    padding-block: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.content8 .circle {
  height: 10rem;
  width: 10rem;
  color: white;
  background-color: #005db5;
}

.content9 {
  overflow: hidden;
}
.content9 .subtitle {
  max-width: 400px;
  margin: auto;
}
.content9 .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 950px) {
  .content9 .grid-wrapper {
    padding-block: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .content9 .grid-wrapper {
    padding-block: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.content9 .grid-wrapper .card {
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.182);
}

.content10 {
  overflow: hidden;
  min-height: 30rem;
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, rgba(0, 94, 181, 0.5137254902) 67%, rgba(0, 116, 217, 0.7529411765) 100%), url("https://preview.colorlib.com/theme/prantokon/prantokon/assets/img/video-overview.jpg.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.content10 > * {
  max-width: 50rem;
}

.content11 {
  overflow: hidden;
}
.content11 .subtitle {
  max-width: 450px;
  margin: auto;
}
.content11 .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 950px) {
  .content11 .grid-wrapper {
    padding-block: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  overflow: hidden;
  background: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  padding-block: 10rem;
}
footer input {
  width: 100%;
  padding-block: 1rem;
  border-radius: 1rem;
}
footer .grid-icon {
  gap: 1rem;
}
footer .grid-icon .circle {
  height: 6rem;
  width: 6rem;
  border: 1px solid white;
  border-radius: 50%;
}
@media (max-width: 450px) {
  footer .grid-icon .circle {
    font-size: 1rem;
    height: 4rem;
    width: 4rem;
  }
}
footer .grid-icon .circle img {
  max-width: 4rem;
}
footer .btn {
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  background-color: #004483;
}

.subtitle {
  max-width: 400px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */